---
layout: default
title: Shop
permalink: /clothing/
pinned: true
index: true
#no-header: true
referrer: no-referrer
itemtype: https://schema.org/CollectionPage
description: Browser avaialble merchandise and memorabilia for the Isabella Lake Fishing Derby
tags:
  - events
  - lake isabella
  - isabella lake
  - fishing derby
  - kern valley
  - kern river valley
  - shop
  - merchandise
---
<div class="status-box info">This part will take a while to build, and I'm not sure if it will be possible to connect to the current store without entirely replacing it.</div>
<section id="product-gallery" class="grid" itemprop="about" itemtype="https://schema.org/ItemList" itemscope="">
	<meta itemprop="numberOfItems" content="{{ site.clothing.size }}" />
	{% for product in site.clothing %}
		{% include ecommerce/product-listing.html product=product.product url=product.url %}
	{% endfor %}
</section>
{% include common/share-buttons.html facebook=true twitter=true reddit=true linkedin=true %}
